[Unit]
Description=TsuloVPN Telegram Bot
After=network.target

[Service]
Type=simple
User=www-data
WorkingDirectory=/opt/TsuloVPN/src
EnvironmentFile=/opt/TsuloVPN/src/.env
ExecStart=/opt/TsuloVPN/.venv/bin/python app.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
